<!DOCTYPE html>
<html>
    <head>
        <title>Latihan 7.2 Tugas Ajax</title>
        <style type="text/css">
            body{
                margin-left:10px;
            }
            form{
                border:1px solid #ccc;
                padding:10px;
               
            }
            form div{
                margin-bottom:5px;
            }
            label{
                width:150px;
            }
        </style>
    </head>
    <body>
        <h2>Manajemen Member</h2>
        <div id="app">
            <form @submit.prevent="submitForm()" >
                <p v-if="errors.length">
                    <b>please correct the following errors:</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>                    
                    </ul>
                </p>            
                <div>
                    <label>Nama</label><br />
                    <input type="text" name="name" ref="name" v-model="name">
                </div>
                <div>
                    <label>Alamat</label><br />
                    <textarea name="address" ref="address" v-model="address"></textarea>
                </div>
                <div>
                    <label>No HP</label><br />
                    <input type="no_hp" name="no_hp" ref="no_hp" v-model="no_hp">
                </div>
                
                <div v-if="button_status == 'submit'">
                    <input type="submit" value="SUBMIT">
                </div>
                <div v-else-if="button_status == 'update'">
                    <input type="button" @click="updateMember(id_edit_member)" value="UPDATE">
                    <input type="button" @click="clearForm()" value="CANCEL">
                </div>
                <div v-else-if="button_status == 'upload'">
                    <input type="file" name="photo" ref="photo"> <br /><br />
                    <input type="button" @click="submitPhoto(id_upload_photo)"  value="UPLOAD">
                    <input type="button" @click="clearForm()" value="CANCEL">
                </div>
            </form>

            <br><br>
            <table border="1">                            
                <tr v-for="member of members">
                    <td><img width="100" :src="member.photo_profile? photo_domain + member.photo_profile:'https://dummyimage.com/100x100/000/fff.jpg'"></td>
                    <td width="300">
                        <b>Nama</b> : {{member.name}}<br>
                        <b>HP</b> : {{member.no_hp}}<br>
                        <b>Alamat</b> : {{member.address}}<br>
                    </td>
                    <td>
                        <button @click="editMember(member)">Edit</button>
                        <button @click="removeMember(member.id)">Hapus</button>
                        <button @click="uploadPhoto(member)">Upload Foto</button>
                    </td>                                        
                </tr>
            </table>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>

        <script>
        var vm = new Vue({
            el: '#app',
            data: {
                'name': '',
                'address': '',
                'no_hp': '',
                'photo':'',
                'photo_domain':'http://demo-api-vue.sanbercloud.com/',
                'button_status':'submit',
                'id_edit_member': null,
                'id_upload_photo': null,
                'errors': [],
                'members':[]
            },
            methods:{
                validateForm: function(){
                    this.errors = []
                    
                    if(this.name.length < 5){
                        this.errors.push('Nama minimal 5 karakter')
                        this.$refs.name.focus();
                    }

                    if(this.no_hp.length < 8){
                        this.errors.push('Nomor HP minimal 8 karakter')
                        this.$refs.no_hp.focus();
                    }                  
                },
               
                submitForm: function(){
                    this.validateForm();

                    if(this.errors.length === 0){

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp',this.no_hp)
                    
                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }

                        axios(config)
                        .then(
                            (response)=>{
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            }
                        )
                        .catch(
                            (error)=>{
                                console.log(error)
                            }
                        )
                       
                    }
                                        
                },

                editMember:function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.id_edit_member = member.id
                    this.button_status = 'update'

                },

                clearForm: function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.button_status = 'submit'
                    this.id_edit_member = null
                    this.id_upload_photo = null
                },

                updateMember:function(id){
                    this.validateForm();

                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp',this.no_hp)
                    
                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {_method:'PUT'},
                            data: formData
                        }

                        axios(config)
                        .then(
                            (response)=>{
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            }
                        )
                        .catch(
                            (error)=>{
                                console.log(error)
                            }
                        )
                       
                    }
                   
                },
                
                uploadPhoto: function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.id_upload_photo = member.id  
                    this.button_status = 'upload'                      
                },

                submitPhoto: function(id){
                    let file = this.$refs.photo.files[0]
                    let formData = new FormData()
                    
                    formData.append('photo_profile', file)
                    
                    const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                            data: formData
                    }

                    axios(config)
                        .then(
                            (response)=>{
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            }
                        )
                        .catch(
                            (error)=>{
                                console.log(error)
                            }
                        )
                },

                removeMember: function(id){
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {_method:'DELETE'}
                    }

                    axios(config)
                    .then(
                        (response)=>{
                            this.getMembers()
                            alert(response.data.message)
                        }
                    )
                    .catch(
                        (error)=>{
                            console.log(error)
                        }
                    )                              
                },

                getMembers: function(){
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                    .then(
                        (response)=>{
                            this.members = response.data.members;
                        }
                    )
                    .catch(
                        (error)=>{
                            console.log(error)
                        }
                    )
                },               
            },

            created() {
                this.getMembers()
            }
            
        })        
        </script>


        
    </body>
</html>